.default {
  padding-top: 70px;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.header {
  min-height: 1vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: calc(20vh);
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  min-height: 70vh;
  min-width: 70vh;
  background-color: #282c34;
  align-items: center;
  justify-content: calc(20vh);
}

.content {
  text-align: left;
  padding: 30px;
  min-height: 1vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: calc(20vh);
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #414b60;
  text-align: center;
  color: white;
}

.btn {
  background-color: #414b60;
  color: white;
  text-transform: uppercase;
  margin-left: 10px;
  font-size: calc(5px + 2vmin);
}

.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 12px;
}

.link:hover {
  color: rgba(255, 255, 255, 0.704);
}
